.navbar-light{
    background: #03989e;
}
.menu li {
    display:inline;
    padding: 0.5em;
}
.menu a {
    text-decoration: none;
    color: white !important;
    padding: 0.7em;
    border-radius: 0.5em;
}
.menu a:hover {
    color: grey !important;
    background-color: whitesmoke;
}
.logo{
    max-width: 16rem;
}